# Rust
/target/
**/*.rs.bk
*.pdb
*.swp
*.swo
*~
.DS_Store

# Nix
result
result-*
.direnv/

# IDEs
.vscode/
.idea/
*.iml
*.sublime-workspace

# Gradle
tapi-shim/.gradle/
tapi-shim/build/

# OMC
.omc/notepad.md
.omc/specs
